<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="/css/master.css">
  <script src="style.js"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="index.html">Colors</a>
        </li>
        <li>
          <a href="icons.html">Icons</a>
        </li>
        <li>
          <a href="typography.html">Typography</a>
        </li>
        <li>
          <a href="components.html">Components</a>
        </li>
        <li>
          <a href="guidelines.html">Guidelines</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="wrapper">
<!--========================================================
                COMPONENTS STYLESHEET
========================================================-->

<div class="label"> Text Field</div>

<!-- Text Field -->
<input class="textfield" type="text">

<!-- Dropdown -->
<div class="label"> Dropdown </div>
<div class="dropdown">
<select>
  <option value="">Gender</option>
  <option value="1">Male</option>
  <option value="0">Female</option>
</select>
</div>

<!-- Dropdown: Date -->
<div class="label"> Dropdown: Date picker </div>

<label>Select Date: </label>
<div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
<input class="form-control" type="text" readonly />
<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>

<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Dropdown</button>
<div id="myDropdown" class="dropdown-content">
<a href="#home">Home</a>
<a href="#about">About</a>
<a href="#contact">Contact</a>
</div>
</div>

<!-- Checkbox -->
<div class="label"> Checkbox </div>
<ul class="unstyled centered">
<li>
<input class="checkbox" id="checkbox-1" type="checkbox" value="value1">
<label for="checkbox-1">Checkbox</label>
</li>
<li>
<input class="checkbox" id="checkbox-2" type="checkbox" value="value2" checked>
<label for="checkbox-2">CSS Only</label>
</li>
<li>
<input class="checkbox" id="checkbox-3" type="checkbox" value="value3" disabled>
<label for="checkbox-3">A disabled checkbox</label>
</li>
<li>
<input class="checkbox" id="checkbox-4" type="checkbox" value="value4">
<label for="checkbox-4">Fourth option</label>
</li>
</ul>

<!-- Radio Button -->
<div class="label"> Radio Button </div>
<input type="radio">

<!-- Button: btn--lg -->
<div class="label"> Button: btn--lg </div>
<button class="btn btn-lg">
New Service Request
</button>
<!-- Button: btn--md btn--fill -->
<div class="label"> Button: btn--md btn--fill</div>
<button class="btn btn-md btn-fill">
Text
</button>

<!-- Button: btn--md btn--outline-->
<div class="label"> Button: btn--md btn--outline</div>
<button class="btn btn-md btn-outline">
Text
</button>

<!-- Button: btn--md btn--outline btn--cargo -->
<div class="label"> Button: btn--outline btn--cargo</div>
<button class="btn btn-md btn--outline btn-cargo">
Text
</button>

<!-- Button: btn--md btn--outline btn--container -->
<div class="label"> Button: btn--outline btn--container</div>
<button class="btn btn-md btn--outline btn-container">
Text
</button>

<!-- Button: btn--md btn--outline btn--vehicle -->
<div class="label"> Button: btn--md btn--outline btn--vehicle</div>
<button class="btn btn-md btn--outline btn-vehicle">
Text
</button>

<!-- Button: btn--expand-collapse -->
<div class="label"> Button: btn--expand-collapse</div>

<!-- Button: btn--sidebar -->
<div class="label"> Button: btn--sidebar</div>

<!-- Button: btn--sidebar -->
<div class="label"> Button: btn--sidebar</div>

<!-- Button: btn--sidebar -->
<div class="label"> Button: btn--sidebar</div>

<!-- Button: btn--sidebar -->
<div class="label"> Button: btn--sidebar</div>

</div>

</body>
</html>
