<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="/css/master.css">
  <script src="style.js"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="index.html">Colors</a>
        </li>
        <li>
          <a href="icons.html">Icons</a>
        </li>
        <li>
          <a href="typography.html">Typography</a>
        </li>
        <li>
          <a href="components.html">Components</a>
        </li>
        <li>
          <a href="guidelines.html">Guidelines</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="wrapper">
    <!--========================================================
                    STYLESHEET GUIDELINES
   ========================================================-->
   <div class="label"> Spacing </div>
    <ul>
      <li>
        <div class="space--sm">

        </div>
        <p class="menlo"> 8px </p>
      </li>
      <li>
        <div class="space--md">

        </div>
        <p class="menlo"> 16px </p>
      </li>
      <li>
        <div class="space--lg">

        </div>
        <p class="menlo"> 24px </p>
      </li>
      <li>
        <div class="space--xlg">

        </div>
        <p class="menlo"> 32px </p>
      </li>
    </ul>

  <div class="label"> Contrast </div>

  <div class="label"> A. White Background </div>
  <div class="white">
    <h3>This is legible</h3>
    <h3 class="bold">
      This is legible
    </h3>
    <h3 class="text-white">
      This is not legible
    </h3>
    <h3 class="text-white bold">
      This is not legible
    </h3>
    <h3 class="title">
      This is legible
    </h3>
    <a href="">
      This is legible
    </a>
  </div>

  <div class="label"> B. Primary Color Background  </div>
  <div class="primary-color">
    <h3>This is legible</h3>
    <h3 class="bold">
      This is legible
    </h3>
    <h3 class="text-white">
      This is not legible
    </h3>
    <h3 class="text-white bold">
      This is not legible
    </h3>
    <h3 class="title">
      This is not legible
    </h3>
    <a href="">
      This is not legible
    </a>
  </div>

  <div class="label"> C. Black Background </div>
  <div class="black">
    <h3>This is not legible</h3>
    <h3 class="bold">
      This is not legible
    </h3>
    <h3 class="text-white">
      This is legible
    </h3>
    <h3 class="text-white bold">
      This is legible
    </h3>
    <h3 class="title">
      This is not legible
    </h3>
    <a href="">
      This is legible
    </a>
  </div>

  <div class="label"> D. Grey Light Background </div>
  <div class="grey-light">
    <h3>This is legible</h3>
    <h3 class="bold">
      This is legible
    </h3>
    <h3 class="text-white">
      This is not legible
    </h3>
    <h3 class="text-white bold">
      This is not legible
    </h3>
    <h3 class="title">
      This is legible
    </h3>
    <a href="">
      This is not legible
    </a>
  </div>
</div>

</body>
</html>
