
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <script type="text/javascript">
  $(document).ready(function(){
    $(".hamburger").click(function(){
      $(this).toggleClass("is-active");
    });
  });
  </script>
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="index.html">Colors</a>
        </li>
        <li>
          <a href="icons.html">Icons</a>
        </li>
        <li>
          <a href="typography.html">Typography</a>
        </li>
        <li>
          <a href="components.html">Components</a>
        </li>
        <li>
          <a href="guidelines.html">Guidelines</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="wrapper">
    <!--===================================================
                    COLOR STYLESHEET
   ========================================================-->
  <p class="menlo label"> List of colors used in the application  </p>
  <p class="menlo"> Primary Color: A: --primary-color, B: --primary-color-02, C: --primary-color-dark </p>
  <p class="menlo"> Grey Scale: A: --black, B: --grey, C: --grey-light, D: --grey-light-extra, E: --white </p>
  <p class="menlo"> Alert: A: --red, B: --green, C: --blue, D: --yellow </p>
  <p class="menlo"> Analytics: A: --cargo, B: --container, C: --vehicle </p>


  <div class="label"> Primary Color: --primary-color  </div>
  <div class="colorContainer primary-color">

  </div>

  <div class="label"> Primary Color: --primary-color-02 </div>
  <div class="colorContainer primary-color-02">

  </div>

  <div class="label"> Primary Color: --primary-color-dark </div>
  <div class="colorContainer primary-color-dark">

  </div>

  <div class="label"> Grey Scale: --black </div>
  <div class="colorContainer black">

  </div>

  <div class="label"> Grey Scale: --grey </div>
  <div class="colorContainer grey">

  </div>

  <div class="label"> Grey Scale: --grey-light </div>
  <div class="colorContainer grey-light">

  </div>

  <div class="label"> Grey Scale: --grey-extra-light </div>
  <div class="colorContainer grey-extra-light">

  </div>

  <div class="label"> Grey Scale: --white </div>
  <div class="colorContainer white">

  </div>

  <div class="label"> Alert Colors: --red </div>
  <div class="colorContainer red">

  </div>

  <div class="label"> Alert Colors: --green </div>
  <div class="colorContainer green">

  </div>

  <div class="label"> Alert Colors: --blue </div>
  <div class="colorContainer blue">

  </div>

  <div class="label"> Alert Colors: --yellow </div>
  <div class="colorContainer yellow">

  </div>

  <div class="label"> Analytics: --cargo </div>
  <div class="colorContainer cargo">

  </div>

  <div class="label"> Analytics: --container </div>
  <div class="colorContainer container">

  </div>

  <div class="label"> Analytics: --vehicle </div>
  <div class="colorContainer vehicle">

  </div>

</div>

</body>
</html>
