<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <!--========================================================
                    TYPOGRAPHY STYLESHEET
   ========================================================-->
  <div class="label"> H1 </div>
    <h1>
      This is heading
    </h1>

  <div class="label"> H2 </div>
    <h2>
      This is heading 2
    </h2>

  <div class="label"> H3 </div>
    <h3>
      This is Heading 3
    </h3>

  <div class="label"> H3.grey </div>
    <h3 class="grey">
      This is a grey sentence
    </h3>

  <div class="label"> H3.bold </div>
    <h3 class="bold">
      This is a bold sentence
    </h3>

  <div class="label"> H3.link </div>
    <h3 class="link">
      This is a link
    </h3>

    <!--========================================================
                    COMPONENTS STYLESHEET
   ========================================================-->

  <div class="label"> COMPONENTS <br> <br> <br>
  Text Field</div>

  <!-- Text Field -->
  <input class="textfield" type="text">

  <!-- Dropdown -->
  <div class="label"> Dropdown </div>
  <div class="dropdown">
    <select>
      <option value="">Gender</option>
      <option value="1">Male</option>
      <option value="0">Female</option>
    </select>
  </div>

  <!-- Checkbox -->
  <div class="label"> Checkbox </div>
  <input type="checkbox">

  <!-- Radio Button -->
  <div class="label"> Radio Button </div>
  <input type="radio">

  <!-- Button: btn--lg -->
  <div class="label"> Button: btn--lg </div>

  <!-- Button: btn--md btn--fill -->
  <div class="label"> Button: btn--md btn--fill</div>

  <!-- Button: btn--md btn--outline-->
  <div class="label"> Button: btn--md btn--outline</div>

  <!-- Button: btn--md btn--outline btn--cargo -->
  <div class="label"> Button: btn--outline btn--cargo</div>

  <!-- Button: btn--md btn--outline btn--container -->
  <div class="label"> Button: btn--outline btn--container</div>

  <!-- Button: btn--md btn--outline btn--vehicle -->
  <div class="label"> Button: btn--md btn--outline btn--vehicle</div>

  <!-- Button: btn--expand-collapse -->
  <div class="label"> Button: btn--expand-collapse</div>

  <!-- Button: btn--sidebar -->
  <div class="label"> Button: btn--sidebar</div>

  </div>
</body>
</html>
