body{
background-color: #eee;
}

.label{
font-family: monospace;
font-size: 14px;
color: #d4d4d4;
position: relative;
margin-top: 80px;
margin-bottom: 40px;
}

.label:first-child{
  margin-top: 0;
}

.label::after{
  content: " ";
  position: absolute;
  bottom: -05px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d4d4d4;

}

.wrapper{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 40px 80px;
}
/* declaring variables */

:root{
  font-size: 10px;
  --font: 'Rubik', sans-serif;
  --primary-color: #00CECD;
  --primary-color-02: #8AE6E6;
  --black: #444;
  --grey: #8A9399;
  --grey-light: #E8EBED;
  --grey-extra-light: #F5F5F5;
  --white: #fff;
  --base-font-size: 1.4rem;
  --border-radius: 2px;
}
/* ===========================================
          TYPOGRAPHY STYLESTYLESHEET
============================================= */

/* typography definition */

h1{
  font-family: var(--font);
  font-size: 3.6rem;
  font-weight: 400;
}

h2{
  font-family: var(--font);
  font-size: 2.4rem;
  font-weight: 400;
}

h3{
  font-family: var(--font);
  font-size: var(--base-font-size);
  font-weight: 400;
}

p{
  font-family: var(--font);
  font-size: var(--base-font-size);
  font-weight: 400;
  line-height: 1.3;
}

/* Classes for typography */

.link{
  font-family: var(--font);
  color: var(--primary-color);
  font-weight: 400;
}

.grey{
  font-family: var(--font);
  color: var(--grey);
  font-weight: 400;
}

.bold{
  font-family: var(--font);
  font-weight: 500;
}

/* ===========================================
          COMPONENTS STYLESTYLESHEET
============================================= */

/* components library definition */

/* text field*/
input{
  height: 32px;
  background: var(--white);
  border: 1px solid var(--grey-light);
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.10);
  border-radius: var(--border-radius);
  font-family: var(--font);
  font-size: var(--base-font-size);
  color: var(--black);
  padding: 0 8px;
}

input:hover{
  background: var(--grey-extra-light);
}

input:focus{
  outline: none;
  border: 1px solid var(--primary-color);
  background: var(--grey-extra-light);
}

/* dropdown */
