<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="/css/master.css">
  <script src="style.js"></script>
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="index.html">Colors</a>
        </li>
        <li>
          <a href="icons.html">Icons</a>
        </li>
        <li>
          <a href="typography.html">Typography</a>
        </li>
        <li>
          <a href="components.html">Components</a>
        </li>
        <li>
          <a href="guidelines.html">Guidelines</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="wrapper">
    <!--========================================================
                    TYPOGRAPHY STYLESHEET
   ========================================================-->
  <div class="label"> H1 </div>
    <h1>
      This is heading
    </h1>

  <div class="label"> H2 </div>
    <h2>
      This is heading 2
    </h2>

  <div class="label"> H3 </div>
    <h3>
      This is Heading 3
    </h3>

  <div class="label"> H3.title </div>
    <h3 class="title">
      This is a grey sentence
    </h3>

  <div class="label"> H3.bold </div>
    <h3 class="bold">
      This is a bold sentence
    </h3>

  <div class="label"> H3.link </div>
    <a href="">
      This is a link
    </a>
  </div>

  </body>
  </html>
